.Main {
  min-height: 93vh;
  display: flex;
  align-items: center;
}

.button {
  margin: 20px;
}

.bg-color {
  background-color: lightgrey;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  padding: 40px;
}
